src/main/wsdl/sappho-getparent-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ldm08287:8080/rpc/soap/sappho-getparent-v1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ldm08287:8080/rpc/soap/sappho-getparent-v1" xmlns:intf="http://ldm08287:8080/rpc/soap/sappho-getparent-v1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://exception.rpc.jira.atlassian.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3-atlassian-1
Built on Sep 13, 2010 (04:22:38 GMT+10:00)-->
 <wsdl:types>
  <schema targetNamespace="http://exception.rpc.jira.atlassian.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RemoteException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getParentKeyRequest">

      <wsdl:part name="in0" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="in1" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getParentKeyResponse">

      <wsdl:part name="getParentKeyReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="RemoteException">

      <wsdl:part name="fault" type="tns1:RemoteException">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="in0" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="in1" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetParent">

      <wsdl:operation name="login" parameterOrder="in0 in1">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

         <wsdl:fault message="impl:RemoteException" name="RemoteException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getParentKey" parameterOrder="in0 in1">

         <wsdl:input message="impl:getParentKeyRequest" name="getParentKeyRequest">

       </wsdl:input>

         <wsdl:output message="impl:getParentKeyResponse" name="getParentKeyResponse">

       </wsdl:output>

         <wsdl:fault message="impl:RemoteException" name="RemoteException">

       </wsdl:fault>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="sappho-getparent-v1SoapBinding" type="impl:GetParent">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.soap.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ldm08287:8080/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://ldm08287:8080/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getParentKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getParentKeyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.soap.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getParentKeyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://ldm08287:8080/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://ldm08287:8080/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetParentService">

      <wsdl:port binding="impl:sappho-getparent-v1SoapBinding" name="sappho-getparent-v1">

         <wsdlsoap:address location="http://ldm08287:8080/rpc/soap/sappho-getparent-v1"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
