src/main/wsdl/sappho-getparent-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" xmlns:intf="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://exception.rpc.jira.atlassian.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="http://exception.rpc.jira.atlassian.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RemoteException">
    <sequence/>
   </complexType>
  </schema>
  <schema targetNamespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://exception.rpc.jira.atlassian.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_anyType">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1"/>
   <import namespace="http://exception.rpc.jira.atlassian.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getMovedIssueKeyRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="RemoteException">

      <wsdl:part name="fault" type="tns1:RemoteException"/>

   </wsdl:message>

   <wsdl:message name="getMovedIssueKeyResponse">

      <wsdl:part name="getMovedIssueKeyReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getParentKeyResponse">

      <wsdl:part name="getParentKeyReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getParentKeyRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getFieldHistoryResponse">

      <wsdl:part name="getFieldHistoryReturn" type="impl:ArrayOf_xsd_anyType"/>

   </wsdl:message>

   <wsdl:message name="getFieldHistoryRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="GetParent">

      <wsdl:operation name="login" parameterOrder="in0 in1">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="getParentKey" parameterOrder="in0 in1">

         <wsdl:input message="impl:getParentKeyRequest" name="getParentKeyRequest"/>

         <wsdl:output message="impl:getParentKeyResponse" name="getParentKeyResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="getMovedIssueKey" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMovedIssueKeyRequest" name="getMovedIssueKeyRequest"/>

         <wsdl:output message="impl:getMovedIssueKeyResponse" name="getMovedIssueKeyResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="getFieldHistory" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getFieldHistoryRequest" name="getFieldHistoryRequest"/>

         <wsdl:output message="impl:getFieldHistoryResponse" name="getFieldHistoryResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="sappho-getparent-v1SoapBinding" type="impl:GetParent">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.soap.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getParentKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getParentKeyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.soap.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getParentKeyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getMovedIssueKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMovedIssueKeyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.soap.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMovedIssueKeyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getFieldHistory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFieldHistoryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.soap.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getFieldHistoryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://jira.catlin.com/rpc/soap/sappho-getparent-v1" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetParentService">

      <wsdl:port binding="impl:sappho-getparent-v1SoapBinding" name="sappho-getparent-v1">

         <wsdlsoap:address location="http://jira.catlin.com/rpc/soap/sappho-getparent-v1"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
