src/main/wsdl/sappho-getparent-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://getparent.service.soap.rpc.jira.sappho.org.uk" xmlns:intf="http://getparent.service.soap.rpc.jira.sappho.org.uk" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="http://exception.rpc.jira.atlassian.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://exception.rpc.jira.atlassian.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RemoteException">
    <sequence/>
   </complexType>
  </schema>
  <schema targetNamespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://exception.rpc.jira.atlassian.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getMovedIssueKeyResponse">

      <wsdl:part name="getMovedIssueKeyReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getParentKeyResponse">

      <wsdl:part name="getParentKeyReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getMovedIssueKeyRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="RemoteException">

      <wsdl:part name="fault" type="tns2:RemoteException"/>

   </wsdl:message>

   <wsdl:message name="getFieldChangeHistoryRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getParentKeyRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getFieldChangeHistoryResponse">

      <wsdl:part name="getFieldChangeHistoryReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part name="loginReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="GetParent">

      <wsdl:operation name="login" parameterOrder="in0 in1">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="getParentKey" parameterOrder="in0 in1">

         <wsdl:input message="impl:getParentKeyRequest" name="getParentKeyRequest"/>

         <wsdl:output message="impl:getParentKeyResponse" name="getParentKeyResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="getMovedIssueKey" parameterOrder="in0 in1">

         <wsdl:input message="impl:getMovedIssueKeyRequest" name="getMovedIssueKeyRequest"/>

         <wsdl:output message="impl:getMovedIssueKeyResponse" name="getMovedIssueKeyResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

      <wsdl:operation name="getFieldChangeHistory" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getFieldChangeHistoryRequest" name="getFieldChangeHistoryRequest"/>

         <wsdl:output message="impl:getFieldChangeHistoryResponse" name="getFieldChangeHistoryResponse"/>

         <wsdl:fault message="impl:RemoteException" name="RemoteException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="sappho-getparent-v1SoapBinding" type="impl:GetParent">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getParentKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getParentKeyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getParentKeyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getMovedIssueKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMovedIssueKeyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMovedIssueKeyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getFieldChangeHistory">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFieldChangeHistoryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getFieldChangeHistoryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="RemoteException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="RemoteException" namespace="http://getparent.service.soap.rpc.jira.sappho.org.uk" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetParentService">

      <wsdl:port binding="impl:sappho-getparent-v1SoapBinding" name="sappho-getparent-v1">

         <wsdlsoap:address location="http://localhost/rpc/soap/sappho-getparent-v1"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
